body {
    font-family: Arial, sans-serif;
}
#output {
    width: 500px;
    padding: 5px 3px;
    border: 1px dotted #666;
    margin: 10px 0px;
    background-color: #def;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#output.changed {
    background-color: #fef;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 20px 0;
    border: 1px solid #999;
    color: #666;
}